<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!

To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Słupsk Tool</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      {{>logos}}
      <div data-role="header">
        <h1>Creating Interfaces - Słupsk</h1>
        {{>language}}
      </div>
      <div role="main" class="ui-content">
        <div class="map detail-map" id="index-map">
          <div data-role="collapsible" class = "instruction justified" id="instruction1" data-collapsed="false" style="visibility: visible;">
            <h4>Eat locally and healthily! Welcome to the food system in Słupsk!</h4>
            <p>
              {{instruction1_part1}} 
            </p>
            <ul>
              <li>check what children eat in kindergartens in Słupsk, rate the meals and see how other people rate them, find out where the products for the meals come from,</li>
              <li>get to know local food shops and their products,</li>
              <li>get to know local producers and their products,</li>
              <li>share what you eat and where you buy food with others,</li>
              <li>help in understanding the environmental impact of what you eat and what children eat in kindergartens.</li>
            </ul>
            <p>
              The application was developed in cooperation with the Słupsk City and on the basis of the collected data on the food needs of the inhabitants of Słupsk.
              We are currently testing the first version of the application. Share with us your opinion about the application by clicking on the <a href="">link</a> with a few questions! <br>
              If you got login data by the project team, you can login <a href="{{rt}}/login">here</a> to use additional features of the application.
            </p>
            <a href="#" class="ui-btn ui-icon-arrow-r ui-btn-inline ui-btn-icon-notext ui-corner-all"  data-wq-action="instruction-forward" style="float: right;">No text</a>
          </div>
          <div data-role="collapsible" class = "instruction justified" id="instruction2" data-collapsed="false" style="visibility: hidden;">
            <h4>What do the children eat in the kindergartens in Słupsk?</h4>
            <p>
              What can you find out? What can you do? <br>
              Find the kindergarten your child goes to on the map. See what he/she will eat this week. Get nutrition info and rate foods. Leave your comment and discuss the nutrition of your child with other parents. <br>
              Via this <a href="{{rt}}/dishratings/">link</a> you can view the dish ratings of other parents in Słupsk. You can also see a list of <a href="{{rt}}/kindergartens/">all participating kindergartens</a>.
            </p>
            <a href="#" class="ui-btn ui-icon-arrow-l ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-backward" style="float: left;">No text</a>
            <a href="#" class="ui-btn ui-icon-arrow-r ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-forward" style="float: right;">No text</a>
          </div>
          <div data-role="collapsible" class = "instruction justified" id="instruction3" data-collapsed="false" style="visibility: hidden;">
            <h4>Discover food close to you!</h4>
            <p>
              What can you find out? What can you do? <br>
              You want to buy locally, but don't know where to buy food from local farmers? You will find them on this map. You can also help build a map of local producers by <a href="{{rt}}/producers/new">adding</a> them to the map yourself!
              If you already buy from this producer you can evaluate the products he/she sells. Leave your comment and discuss with others about your favourite producers and food products!
              If you produce food yourself and want to leave more detailed data about your products - contact us! <br>
            </p>
            <a href="#" class="ui-btn ui-icon-arrow-l ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-backward" style="float: left;">No text</a>
            <a href="#" class="ui-btn ui-icon-arrow-r ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-forward" style="float: right;">No text</a>
          </div>
          <div data-role="collapsible" class = "instruction justified" id="instruction4" data-collapsed="false" style="visibility: hidden;">
            <h4>Podziel się jedzeniem!</h4>
            <p>
              What can you find out? What can you do? <br>
              You want to share what you're cooking with others? <a href="{{rt}}/privatedishs/new">Share</a> your recipe idea and let others know where to buy the best products in the area. Encourage others to comment and discuss healthy eating together. <br>
              <a href="{{rt}}/privatedishs/">Find out</a> about recipes from others.
            </p>
            <a href="#" class="ui-btn ui-icon-arrow-l ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-backward" style="float: left;">No text</a>
          </div>
        </div>
      </div>
      {{>navbar}}
    </div>
  </body>
</html>
