<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Privacy Statement</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      {{>logos}}
      <div data-role="header">
        {{>home}}
        <h1>Privacy Statement</h1>
        {{>language}}
      </div>
      <div role="main" class="ui-content justified">
        <p>To be added...</p>
      </div>
      {{>navbar}}
    </div>
  </body>
</html>
